@import '../../node_modules/normalize.css/normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-banner {
  height: 250vh;

  h1 {
    text-align: center;
    max-width: 500px;
    font-weight: 200;

    position: sticky;
    top: 50%;  
    transform: translateY(-50%);
    margin: 0 auto;
  }

  .scrolling-items {
    display: flex;
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 350px;
    z-index: 1;
  }

  .right-column {
    padding-top: 350px;
  }
}
